@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
 

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollable {
  overflow: auto;
}

.scrollable::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scrollable::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.6);
}


.dark .scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
}

.dark .scrollable::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.dark .scrollable {
  scrollbar-color: rgba(255, 255, 255, 0.25) transparent;
}





